.partner-logo
  width: 150px
  grid-column: 3

.partners 
  min-height: 10vh
  display: grid
  grid-template-columns: 5% 2fr 1fr 1fr 5%
  background-color: #222429
  color: #aeaeae

.partners-title
  grid-column: 2
  align-self: center
  h1 
    font-size: 1.8rem

.partners-content
  align-self: center
  display: grid
  grid-column: 4
  grid-template-columns: 1fr 1fr